
{% extends 'frontend/base.html' %}
{% block content %}

<!-- component -->
<div class="antialiased w-full h-auto text-slate-300 relative py-4">
    <div class="grid grid-cols-12 mx-auto gap-2 sm:gap-4 md:gap-6 lg:gap-10 xl:gap-14 max-w-7xl my-10 px-2">
      {% include 'frontend/component/aside.html' %}
        <div id="content" class="bg-white/10 col-span-12 md:col-span-9 rounded-lg p-6"> 
            <section class="pt-8 pb-16 lg:pt-16 lg:pb-24 dark:bg-gray-900">
                <div class="flex justify-between px-4   ">
                    <article class=" w-full  format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                        <header class="mb-4 lg:mb-6 not-format">
                            <address class="flex items-center mb-6 not-italic">
                                <div class="inline-flex items-center mr-5 text-sm text-gray-900 dark:text-white">
                                    <h1 class="text-white mr-3 py-2 px-4 md:py-5  md:px-7 rounded-full bg-indigo-800 font-bold text-2xl text-md" >{{ detail.fullName|upper|slice:"0:1" }}</h1>
                                    <div>
                                        <a href="#" rel="author" class="text-xl font-bold text-gray-300 text-xs">{{ detail.fullName|upper }}</a>
                                        <p class="text-base font-light text-gray-400 ">{{ detail.Btc_address }}</p>
                                        <p class="text-base font-light text-gray-400 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ detail.email }}</time></p>
                                        <p class="text-base font-light text-gray-400 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ detail.phone_number }}</time></p>
                                    </div>
                                </div>
                            </address>
                            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-300 lg:mb-6 lg:text-1xl ">Bitcoin Balance : $<span hx-get="{% url 'balance' detail.fullName %}" hx-trigger="every 10s"></span></h1>
                        </header>
                        <div id="last-users">
                            <h1 class="font-bold py-4 uppercase">transaction</h1>
                            <div class="overflow-x-scroll bg-black/30 mb-5" hx-get="/transactions/{{ detail.fullName }}/" hx-trigger="every 2s">
                              <p class="text-center">  
                                <img class="h-60 w-80" src="https://i.pinimg.com/originals/c4/3b/2d/c43b2d56b4ec611ac450e6782f7143b7.gif" alt="loader" srcset=""></p>
                            </div>
                            <a class="text-xs  bg-indigo-800 py-2 px-2 rounded-lg text-white font-semibold text-center" href="{% url 'address' %}">Load users addresses</a>
                        </div>
                    
                    </article>
                </div>
            </section>
           
        </div>
    </div>
</div>


{% endblock content %}



