
{% extends 'frontend/base.html' %}
{% block content %}

<!-- component -->
<div class="antialiased w-full h-auto text-slate-300 relative py-4">
    <div class="grid grid-cols-12 mx-auto gap-2 sm:gap-4 md:gap-6 lg:gap-10 xl:gap-14 max-w-7xl my-10 px-2">
      {% include 'frontend/component/aside.html' %}
        <div id="content" class="bg-white/10 col-span-9 rounded-lg p-6"> 
            <section class="pt-8 pb-16 lg:pt-16 lg:pb-24 dark:bg-gray-900">
                <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
                    <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
                        <header class="mb-4 lg:mb-6 not-format">
                            <address class="flex items-center mb-6 not-italic">
                                <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                    <h1 class="text-white mx-10 py-5 px-7 rounded-full bg-indigo-800 font-bold text-2xl" >{{ detail.fullName|upper|slice:"0:1" }}</h1>
                                    <div>
                                        <a href="#" rel="author" class="text-xl font-bold text-gray-300">{{ detail.fullName|upper }}</a>
                                        <p class="text-base font-light text-gray-400 ">{{ detail.Btc_address }}</p>
                                        <p class="text-base font-light text-gray-400 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ detail.email }}</time></p>
                                        <p class="text-base font-light text-gray-400 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ detail.phone_number }}</time></p>
                                    </div>
                                </div>
                            </address>
                            <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-300 lg:mb-6 lg:text-4xl ">Bitcoin Balance : $<span hx-get="{% url 'balance' detail.fullName %}" hx-trigger="every 10s"></span></h1>
                        </header>
                        <a href="https://www.blockchain.com/explorer/addresses/btc/{{ detail.Btc_address }}"" target="_blank"  class=" bg-indigo-800 text-white text-xs font-semibold py-3 px-2 rounded-lg font-semibold">view transaction</a> 
                        <a class="mt-2"  hx-get="{% url 'confirm' detail.fullName %}" hx-trigger="every 10s"></a>

                    
                    </article>
                </div>
            </section>
           
        </div>
    </div>
</div>


{% endblock content %}



