<script src="https://unpkg.com/htmx.org@1.8.4"
    integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
    crossorigin="anonymous"></script>
<table class="w-full whitespace-nowrap">
    <thead class="bg-black/60">
        <th class="text-left py-3 px-2 rounded-l-lg">amount</th>
        <th class="text-left py-3 px-2 rounded-l-lg">fee</th>
        <th class="text-left py-3 px-2 rounded-l-lg">hash</th>
        <th class="text-left py-3 px-2">confirmations</th>
        <th class="text-left py-3 px-2 rounded-r-lg">actions</th>
    </thead>
    {% for transaction in transactions.data.list %}

    <tr class="border-b border-gray-700 my-3">
        <td class="py-3 px-2 font-semibold text-sm>
            <div class=" inline-flex space-x-3 items-center">

            <span>0.0{{ transaction.inputs_value }}</span>
            </div>
        </td>
        <td class="py-3 px-2">{{ transaction.fee }}</td>
        <td class="py-3 px-2">{{ transaction.hash|truncatechars:20 }}</td>
        <td class="py-3 px-2">{{ transaction.confirmations }}</td>
        {% for ads in transaction.outputs %}
        {% if address in ads.addresses %}
        <td class=" "><a href="" class=" text-center bg-indigo-800 rounded py-2 px-2 ">Confirm</a></td>
        {% else %}
        {% endif %}
        {% endfor %}


        <td class="py-3 px-2">
            <div class="inline-flex items-center space-x-3">


            </div>
        </td>
    </tr>

    {% endfor %}


</table>